.MMM-MovieInfo .wrapper{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.left .MMM-MovieInfo .wrapper{
    width:340px;
}
.right .MMM-MovieInfo .wrapper{
    width:240px;
}

.MMM-MovieInfo .badge {
    background-color: #FFF;
    color: #000;
    border-radius: 3px;
    padding: 0px 2px;
    margin: 2px;
}

.MMM-MovieInfo .movietitle {
   width:100%;
}
.MMM-MovieInfo .movieimage {
   float: left;
   width:24%;
   margin-right:3%;
}
.MMM-MovieInfo .moviedetails {
   float: left;
   width:66%;
   margin-left:1%;
}

.MMM-MovieInfo .plot {
    word-wrap: break-word;
    margin-bottom: 5px;
}

.MMM-MovieInfo .movieimageholder img {
	border: 1px solid #fff;
	 -webkit-box-shadow: 1px 1px 1px #777;
	 -moz-box-shadow: 1px 1px 1px #777;
	  box-shadow: 1px 1px 1px #777;
        width:99%;
}